<div class="dialog-box">
    <h2 mat-dialog-title>Add Product</h2>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="name" formControlName="productName">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select placeholder="Category" formControlName="category">
                <mat-option value="Food Items">Food Items</mat-option>
                <mat-option value="Fashion">Fashion</mat-option>
                <mat-option value="Electronics">Electronics</mat-option>
                <mat-option value="Mobile Phone & Tablets">Mobile Phones & Tablets</mat-option>
                <mat-option value="Computer & Games">Computer & Games</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Listing Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="listingDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <label for="">
            <h2>Product Condition</h2>
        </label>
        <mat-radio-group class="example-radio-group" formControlName="condition">
            <mat-radio-button  
            value="Brand New"
            class="example-radio-button">
                Brand new
            </mat-radio-button>

            <mat-radio-button  
            value="Used"
            class="example-radio-button">
                Used
            </mat-radio-button>

            <mat-radio-button  
            value="Refurbished"
            class="example-radio-button">
                Refurbished
            </mat-radio-button>
        </mat-radio-group>
    
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="price" formControlName="price">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="comment" formControlName="comment"></textarea>
        </mat-form-field>
          
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit" (click)="addProduct()">{{ actionBtn }}</button>
        </div>
    
    </form>    
</div>
</div>


